<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
        <h1>Currency Exchange</h1>
        <table>
            <form method="GET" action="/convert">
                <tr>
                    <td>
                        From: 
                        <select name="from" value="from">
                            <option value="" selected disabled hidden>Select currency</option>
                            <option th:each="currency : ${currencyList}" th:value="${currency.currencyId}" th:text="${currency.name} +' ' + ${currency.currencyName}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        To: <select name="to" value="to">
                            <option value="" selected disabled hidden>Select currency</option>
                            <option th:each="currency : ${currencyList}" th:value="${currency.currencyId}" th:text="${currency.name} +' ' + ${currency.currencyName}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Amount: <input type="number" name="amount" id="amount" placeholder="Amount to convert" required>
                    </td>
                </tr>
                <tr>
                    <td>
                       <input type="submit" value="Convert">
                    </td>
                </tr>
            </form>
        </table>
        
    
</body>
</html>